<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>club Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Klub Wysokogórski</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/main_admin">Strona główna
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">Jesteś zalogowany jako: <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>
                <li class="nav-item active">
                    <button class="btn " type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj się
                    </button>
                </li>

            </ul>
        </div>
    </div>
</nav>


<table class="table table-bordered p-1">
    <thead class="thead-dark">
    <tr> <!-- Table row -->
        <th>ID_adresu</th>
        <!–- Table column -->
        <th>Kraj</th>
        <th>Miasto</th>
        <th>Ulica</th>
        <th>Nr_budynku</th>
        <th>ID_poczty</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${address}">
        <td th:text="${address.addressId}">ID</td>
        <td th:text="${address.country}">ID</td>
        <td th:text="${address.city}">ID</td>
        <td th:text="${address.street}">ID</td>
        <td th:text="${address.buildingNumber}">ID</td>
        <td th:text="${address.postoffice}">ID</td>
        <td class="col-actions">

            <div>
                <a th:href="@{'/address/new'}" class="btn btn-success"><i
                        class="fa fa-plus"></i> Dodaj klub</a>
            </div>
            <a th:href="@{'/address/delete/'+${address.addresId}}"
               onclick="return confirm('Are you sure you want to delete operator? This will delete all linked tables');"
               class="btn btn-danger"></i> Usuń</a>
        </td>
    </tr>
    </tbody>
</table>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>