<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Welcome Page</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<style>
  body{
    background-image: url("tlo.jpg");
    no-repeat center fixed;

</style>

<body class="bg-light">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Klub Wysokogórski</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" th:href="@{/index}">Strona główna</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/main}">Zaloguj się</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" th:href="@{/sign}">Zarejestruj się</a>
          </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
    <div class="row ">
        <div class="col">

        </div>
        <div class="col-12 p-3 text-primary-emphasis bg-primary-subtle align-self-center">
            <div>
                <h1>Poznaj nas</h1>
                <button type="button" href="@{/index}" class="btn btn-bg-dark btn-lg">Zostań członkiem</button>

            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>




<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>

