<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Welcome Page</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
    body {
    background-image: url("img/gory2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1600px 600px;
    }
    </style>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light text-black bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Klub Wysokogórski</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item text-black">
          <a class="nav-link" th:href="@{/index}">Strona główna</a>
        </li>

        <li class="nav-item text-black">
          <a class="nav-link" th:href="@{/main}">Zaloguj się</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center mt-5 mb-2 ">
    <div class="row mb-7">
        <div class="col text-primary-emphasis bg-primary-subtle align-self-center ">
                    <h1 >Poznaj nas!</h1>
                    <h6>
                        <a class="nav-link" th:href="@{/main}">
                            <button type="button bg dark" class=" mt-5 btn btn-bg-dark btn-lg">Zostań członkiem
                            </button>
                        </a>
                    </h6>
        </div>
    </div>
</div>
<nav class="bg-body-secondary fixed-bottom text-black bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <div class="row">
            <div class="col">
                Klub Wysokogórski
            </div>
            <div class="col">

            </div>
            <div class="col">
                <p>Adres: 01-000 Warszawa </p>

            </div>
        </div>
    </div>
</nav>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>


</body>
</html>

