<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Postoffice Page</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Klub Wysokogórski</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
          <a class="nav-link" href="/main_admin">Strona główna
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:inline="text" style="color:lightskyblue;">Jesteś zalogowany jako: <b
                  style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
        </li>
        <li class="nav-item active">
          <form method="post" th:action="@{/index}">
            <button class="btn " type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj się
            </button>
          </form>

        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
  <div class="row">
    <div class="col">
        <div class="form-title" th:if="${postoffice.postId==null}">Stwórz nowy adres</div>
        <div class="form-title" th:unless="${postoffice.postId==null}">Edytuj adres</div>
        <form th:action="@{'/postoffice/save'}" th:object="${postoffice}" method="post"  id="postofficeForm">
          <input type="hidden" th:field="*{postId}" th:value="${postoffice.postId}">
          <div>
            <div>
              <label>Kod Pocztowy:</label>
              <input type="text" th:field="*{postCode}" required maxlength="6"/>
            </div>
            <div>
              <label>Poczta:</label>
              <input type="text" th:field="*{placepostoffice}" required maxlength="17"/>
            </div>



            <button type="submit" class="button">
              <i class="fas fa-save"></i> Save
            </button>
          </div>
        </form>
      </div>
  </div>
</div>


</body>
</html>