<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Klub Wysokogórski</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/main_admin">Strona główna
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">Jesteś zalogowany jako: <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>
                <li class="nav-item active">
                    <button class="btn " type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj się
                    </button>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div>
    <div class="form-title" th:if="${club.clubId==null}">Create new club</div>
    <div class="form-title" th:unless="${club.clubId==null}">Edit club</div>
    <form th:action="@{'/clubs/save'}" th:object="${club}" method="post"  id="clubForm">
        <input type="hidden" th:field="*{clubId}" th:value="${club.clubId}">
        <div>
            <div>
                <label>Nazwa:</label>
                <input type="text" th:field="*{name}" required maxlength="30"/>
            </div>
            <div>
                <label>Data założenia:</label>
                <input type="date" th:field="*{creationDate}" required maxlength="30"/>
            </div>
            <div>
                <label>Numer telefonu:</label>
                <input type="tel" th:field="*{phoneNumber}"  required/>
            </div>
            <div>
                <label>Email:</label>
                <input type="email" th:field="*{email}"  required/>
            </div>
            <div>
                <label>Numer konta bankowego:</label>
                <input type="number" th:field="*{bankAccountNumber}"  required maxlength="26"/>
            </div>
            <div>
                <label>
                    <select th:field="*{address}" class="form-control" required>
                        <option th:each="address : ${addresses}" th:value="${address.addressId}"
                                th:text="${address.toString()}"></option>
                    </select>
                </label>
            </div>
            <button type="submit" class="button">
                <i class="fas fa-save"></i> Save
            </button>
        </div>
    </form>
</div>

</body>
</html>